html{
	scroll-behavior: smooth;
}

body{
	background-color: #949494;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0px;
}

.top_intro{
	margin-top: 0;
	text-align: center;
	height: 625px;
	opacity: 1;
	background-image: url("../images/bg7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.titles h1{
	color: white;
	font-family: "Vocaloid";
	font-size: 45px;
	text-align: center;
	margin-top: 0px;
	padding-top: 150px;
	margin-bottom: 3px;
	line-height: 1em;
}

.titles h2{
	color: white;
	font-size: 35px;
	text-align: center;
	margin-bottom: 10px;
}

.read_more{
	border: 1px solid;
	color: white;
	text-decoration: none;
	padding: 5px 20px 6px 20px;
	line-height: 1em;
	display: inline-block;
	margin-top: 1px;
}

p.large{
	width: 45%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	color: #000;
	font-size: 1.7em;
	text-align: center;
}

p{
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	color: #000;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 1em;
	line-height: 1.3em;
	font-weight: 500;
	font-size: 20px;
}	

#mainfooter{
	color: #fff;
	padding-top: 3em;
	margin-top: 30px;
	margin-bottom: 0px;
	border-top: 1px solid;
	border-color: #A7A7A7;
}

#mainfooter p{
	text-align: center;
	font-size: 15px;
}

section{
	display: block;
}

.container{
	overflow: hidden !important;
	width: 88%;
	margin-left: auto;
	margin-right: auto;
}

footer .container{
	max-width: 840px;
}

footer .floaties_left{
	width: 45%;
	float: left;
	margin-right: 9%;
}

footer .floaties_left h2{
	font-size: 0.72em;
	font-weight: 400;
	line-height: 1.1em;
	color: #000;
	text-align: center;
}

footer .floaties_left p{
	width: 100%;
	font-size: 0.72em;
}

footer .floaties_right{
	width: 45%;
	float: right;
	margin-left: : 9%;
}

footer .floaties_right h2{
	font-size: 0.72em;
	font-weight: 400;
	line-height: 1.1em;
	color: #000;
	text-align: center;
}

footer .floaties_right p{
	width: 100%;
	font-size: 0.72em;
}

footer .credits{
	margin-top: 3.6em;
}

footer .credits p{
	font-size: 0.57em;
	color: #505050;
	margin-top: 10em;
}

@font-face{
	font-family: "Vocaloid";
	src:url("VOC-IT.tff");
}